<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Games</title>
</head>
<body>
    <h1>Bem vindo a página de games!</h1>
    <hr>
    <p>Confira a lista de jogos:</p>
    <!-- Comentário HTML {# {variavel} #} -->
    {# Exemplo de comentário no jinja2 #}

    <!-- Percorrendo o dicionário com for -->
     <!-- a junção da chave e valor eu chamo de item -->
    {% for chave, valor in game.items() %}
    <details>
        <summary>{{chave}}</summary>
        <p>{{valor}}</p>
    </details>
    {% endfor %}

    <p>O jogo {{game['Título']}} tem {{2025 - game['Ano']}} anos.</p>
    <hr>

    <p>Estão jogando no momento:</p>
    <ol>
        {% for jogador in jogadores: %}
        <li>{{jogador}}</li>
        {% endfor %}
    </ol>
    <hr>
    <h4>Entrar no jogo:</h4>
    <form action="{{url_for('games')}}", method="POST">
        <label for="jogador">Jogador:</label>
        <input type="text" name="jogador">
        <input type="submit" value="Entrar">
    </form>
    <br><hr>
    <!-- Criar uma seção para exibir uma lista de outros games sendo jogados no momento. A lista deve possuir 7 games e ser não ordenada. -->
     <p>Outros games sendo jogados:</p>
     <ol>
        {% for jogos in outrosJogos: %}
        <li>{{jogos}}</li>
        {% endfor %}
     </ol>
    <hr>
    <a href="/">Voltar para a home</a>
</body>
</html>